.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 15dvh;
    /* border: 1px solid red; */
}

main {
    width: 100%;
    height: 65dvh;
    /* border: 1px solid green; */
}

footer {
    width: 100%;
    height: 20dvh;
    /* border: 1px solid blue; */
}

nav {
    height: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}

nav ul li {

}

nav ul li a.active {
    border-bottom: 2px solid white;
}